---
import BaseHead from "../components/layouts/site/BaseHead.astro";
import Header from "../components/layouts/site/Header.astro";
import Footer from "../components/layouts/site/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";

import Html from "../layouts/Html.astro";
import FilterByTags from "../components/blog/FilterByTags.astro";
import FiveMoments from "../components/layouts/content/FiveMoments.astro";

---

<Html title={SITE_TITLE} description={SITE_DESCRIPTION}>
    <Header />
    <main
      class="max-w-5xl m-auto flex flex-col content-center justify-items-center md:pb-80 lg:pb-96"
    >
      <h1 class="pb-8">Últimas notas</h1>
      <FilterByTags />
      <FiveMoments />
    </main>

    <!-- <Footer /> -->
</Html>

<style>
  .main-container {
    height: calc(100vh - 50.4px);
  }
</style>
